app/obj/Debug/net6.0.410/.NETCoreApp,Version=v6.0.410.AssemblyAttributes.cs
app/obj/Debug/net6.0.410/CurrencyConverter.AssemblyInfo.cs
app/obj/Debug/net6.0.410/CurrencyConverter.AssemblyInfoInputs.cache
app/obj/Debug/net6.0.410/CurrencyConverter.GeneratedMSBuildEditorConfig.editorconfig
app/obj/Debug/net6.0.410/CurrencyConverter.GlobalUsings.g.cs
app/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
app/obj/Debug/net7.0/apphost.exe
app/obj/Debug/net7.0/CurrencyConverter.AssemblyInfo.cs
app/obj/Debug/net7.0/CurrencyConverter.AssemblyInfoInputs.cache
app/obj/Debug/net7.0/CurrencyConverter.assets.cache
app/obj/Debug/net7.0/CurrencyConverter.csproj.AssemblyReference.cache
app/obj/Debug/net7.0/CurrencyConverter.csproj.CopyComplete
app/obj/Debug/net7.0/CurrencyConverter.csproj.CoreCompileInputs.cache
app/obj/Debug/net7.0/CurrencyConverter.csproj.FileListAbsolute.txt
app/obj/Debug/net7.0/CurrencyConverter.dll
app/obj/Debug/net7.0/CurrencyConverter.GeneratedMSBuildEditorConfig.editorconfig
app/obj/Debug/net7.0/CurrencyConverter.genruntimeconfig.cache
app/obj/Debug/net7.0/CurrencyConverter.GlobalUsings.g.cs
app/obj/Debug/net7.0/CurrencyConverter.pdb
app/obj/Debug/net7.0/ref/CurrencyConverter.dll
app/obj/Debug/net7.0/refint/CurrencyConverter.dll
app/bin/Debug/net6.0/CurrencyConverter.deps.json
app/bin/Debug/net6.0/CurrencyConverter.dll
app/bin/Debug/net6.0/CurrencyConverter.exe
app/bin/Debug/net6.0/CurrencyConverter.pdb
app/bin/Debug/net6.0/CurrencyConverter.runtimeconfig.json
app/bin/Debug/net6.0/HtmlAgilityPack.dll
app/bin/Debug/net6.0/Microsoft.AspNetCore.JsonPatch.dll
app/bin/Debug/net6.0/Microsoft.AspNetCore.Mvc.Razor.Extensions.dll
app/bin/Debug/net6.0/Microsoft.AspNetCore.Razor.Language.dll
app/bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.dll
app/bin/Debug/net6.0/Microsoft.CodeAnalysis.dll
app/bin/Debug/net6.0/Microsoft.CodeAnalysis.Razor.dll
app/bin/Debug/net6.0/Microsoft.DotNet.PlatformAbstractions.dll
app/bin/Debug/net6.0/Microsoft.Extensions.Configuration.Abstractions.dll
app/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
app/bin/Debug/net6.0/Microsoft.Extensions.DependencyModel.dll
app/bin/Debug/net6.0/Microsoft.Extensions.FileProviders.Abstractions.dll
app/bin/Debug/net6.0/Microsoft.Extensions.Hosting.Abstractions.dll
app/bin/Debug/net6.0/Microsoft.Extensions.Primitives.dll
app/bin/Debug/net6.0/Newtonsoft.Json.Bson.dll
app/bin/Debug/net6.0/Newtonsoft.Json.dll
app/bin/Debug/net6.0/System.Net.Http.Formatting.dll
app/bin/Debug/net6.0/System.Security.Permissions.dll
app/bin/Debug/net7.0/CurrencyConverter.deps.json
app/bin/Debug/net7.0/CurrencyConverter.dll
app/bin/Debug/net7.0/CurrencyConverter.exe
app/bin/Debug/net7.0/CurrencyConverter.pdb
app/bin/Debug/net7.0/CurrencyConverter.runtimeconfig.json
app/bin/Debug/net7.0/HtmlAgilityPack.dll
app/bin/Debug/net7.0/Microsoft.AspNetCore.JsonPatch.dll
app/bin/Debug/net7.0/Microsoft.AspNetCore.Mvc.Razor.Extensions.dll
app/bin/Debug/net7.0/Microsoft.AspNetCore.Razor.Language.dll
app/bin/Debug/net7.0/Microsoft.CodeAnalysis.CSharp.dll
app/bin/Debug/net7.0/Microsoft.CodeAnalysis.dll
app/bin/Debug/net7.0/Microsoft.CodeAnalysis.Razor.dll
app/bin/Debug/net7.0/Microsoft.DotNet.PlatformAbstractions.dll
app/bin/Debug/net7.0/Microsoft.Extensions.DependencyModel.dll
app/bin/Debug/net7.0/Newtonsoft.Json.Bson.dll
app/bin/Debug/net7.0/Newtonsoft.Json.dll
app/bin/Debug/net7.0/System.Net.Http.Formatting.dll
app/bin/Debug/net7.0/System.Security.Permissions.dll
app/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
app/obj/Debug/net6.0/apphost.exe
app/obj/Debug/net6.0/CurrencyConverter.AssemblyInfo.cs
app/obj/Debug/net6.0/CurrencyConverter.AssemblyInfoInputs.cache
app/obj/Debug/net6.0/CurrencyConverter.assets.cache
app/obj/Debug/net6.0/CurrencyConverter.csproj.AssemblyReference.cache
app/obj/Debug/net6.0/CurrencyConverter.csproj.CopyComplete
app/obj/Debug/net6.0/CurrencyConverter.csproj.CoreCompileInputs.cache
app/obj/Debug/net6.0/CurrencyConverter.csproj.FileListAbsolute.txt
app/obj/Debug/net6.0/CurrencyConverter.dll
app/obj/Debug/net6.0/CurrencyConverter.GeneratedMSBuildEditorConfig.editorconfig
app/obj/Debug/net6.0/CurrencyConverter.genruntimeconfig.cache
app/obj/Debug/net6.0/CurrencyConverter.GlobalUsings.g.cs
app/obj/Debug/net6.0/CurrencyConverter.pdb
app/obj/Debug/net6.0/ref/CurrencyConverter.dll
app/obj/Debug/net6.0/refint/CurrencyConverter.dll
app/obj/Debug/net7.0.203/.NETCoreApp,Version=v7.0.203.AssemblyAttributes.cs
app/obj/Debug/net7.0.203/CurrencyConverter.AssemblyInfo.cs
app/obj/Debug/net7.0.203/CurrencyConverter.AssemblyInfoInputs.cache
app/obj/Debug/net7.0.203/CurrencyConverter.GeneratedMSBuildEditorConfig.editorconfig
app/obj/Debug/net7.0.203/CurrencyConverter.GlobalUsings.g.cs
